
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    background: url("header1.jpg"); 
    background-size: cover; 
    
    color: white;
    padding: 45px;
    height: 100px;
    padding-bottom: 40px;
    
}

header>h1 {
    text-align: center;
    justify-content: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    
}


.content {
    width: 70%;
}

.content article {
    margin-bottom: 40px;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.content p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.content .date {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.content img {
    width: 100%;
    height: auto;
    margin: 20px 0;
    
}

.content button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    
    cursor: pointer;
    transition: background-color 0.3s;
}

.content button:hover {
    background-color: #c0392b;
}


aside {
    width: 25%;
    padding-left: 20px;
    border-left: 2px solid #ddd;
}

aside h1 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

aside img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    
}

aside p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
        padding: 10px;
    }

    .content {
        width: 100%;
    }

    aside {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
        border-left: none;
    }
}
